body{
    background-image: url(../img/zrh-bg.png);
    background-repeat:no-repeat;
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 10%;
}

.big-head{
   border: 2px solid rgba(255, 255, 255, 0.438);
   border-radius: 7px;
   width: 60%;
   display: flex;
   margin: 0 auto;
   color: white;
   padding: 5%;
   background-color: rgba(255, 255, 255, 0.2);
}

.head-text{
    font-size: 3em;
}
.pass{
    font-size: 1.2em;
}
.img{
    width: 50%;
}

.reg{
    width: 50%;
    /* border: 2px solid blue; */
}


.mid{
    text-align: center;
    font-size:1.5em;
}

a,label,p,h1{
    color: white;
}

label{
    font-size:2em;
}

input{
    margin-top: 3%;
    margin-bottom:5%;
    padding:3%;
    width: 93%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    font-size:1em;
   
}
.log{
    color: white;
    border-radius: 10px;
    margin-top: 5%;
    width: 100%;
    padding: 15px;
    background-color: black;
    font-size: 20px;
}

.account{
    font-size:20px;
    margin-top: 15%;
}
.back{
    background-color: rgba(255, 255, 255, 0.2);
    margin-top: 0;

}

.media{
    margin: 0% auto;
    text-align: center;

}

.md{
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    font-size: 20px;
    padding-right: 10%;
    padding-left: 12%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-left: 4%;
}

.md a{
    text-decoration: none;
}

.no-mag{
    margin-left: 0 !important;
}

form{
    /* border: red solid 3px; */
    width:90%;
}
.none{
    text-decoration: none;
}
.iconic{
    position: absolute;
    padding-top: 10px;
    padding-left: 10px;
}
.con{
    padding-left: 25px ;
}


.pos{
    position: relative;

}

.fab{
    color: rgb(255, 255, 255);

}

    

    
